@model LoginViewModel
<div class="container">
    <div class='text-center p-2'>Login</div>
    <form method='post' asp-action="Login" asp-controller="Auth">
        @Html.AntiForgeryToken()
        <div class="m-1">
            <label class="form-label">User Name</label>
            <input type="email" class="form-control" asp-for="Email" />
        </div>
        <div class='m-1'>
            <label class='form-label'>Password</label>
            <input type='password' class='form-control' asp-for="Password" />
        </div>
        <div class='m-1'>
            <button class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
