@model ProfileViewModel
<div class="container">
    <div class="text-center p-1 h3">Edit Profile</div>
    <form method='post' asp-action="Edit" asp-controller="User">
        @Html.AntiForgeryToken()
        <div class='m-1'>
            <label class='form-label'>Name</label>
            <input type='text' class='form-control' asp-for="Name" placeholder="Name" />
        </div>
        <div class="m-1">
            <label class='form-label'>Email</label>
            <input type='text' class='form-control' asp-for="Email" placeholder="Email" />
        </div>
        <div class="m-1">
            <label class='form-label'>Address</label>
            <textarea class='form-control' asp-for="Address" placeholder="Address" ></textarea>
        </div>
        <div class="m-1">
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </div>
    </form>
</div>